*{
    margin: 0;
    padding: 0;

}
header{
    background-color: rgb(245, 235, 220);
    width: 100%;
    height: 65px;
    
}
.header-main{
    background-color: rgb(245, 235, 220);
    width: 100%;
    height: 65px;
    display: flex;
    border-bottom: 0.5px solid #502314;
    position: fixed;
    z-index: 1;
}
.header-main-A{
    display: flex;
    width: 50%;
    position: relative;
}
.header-main-A1A {
 
    width: 50%;
    margin-left: 40px;
    height: 60px;
    text-decoration: none;
}
.header-main-A1A a{
    text-decoration: none;
    color: #502314;
    font-weight: bold;
    font-size: 24px;
   
}
.header-main-A1A button {
    height: 40px;
    width: 40px;
    position: relative;
    font-size: 22px;
    font-family: monospace;
    background-color: transparent;
    border: none;
    outline: none;
    top: 15px;
    left: 150px;
   
}
.header-main-A1A button:hover{
    border: 1px solid rgb(245, 235, 220);
    border-radius: 50px;
    background-color: rgba(245, 235, 220, 0.159);

    
}
.header-main-A2A{
    
    width: 50%;
    height: 60px;
    position: relative;
    
}
.header-main-A2A img{
    width:40px;
    height: 40px;
    position: absolute;
    right: 2px;
    top: 15px;
    
}
.header-main-A2A img:hover{
    background-color: rgba(245, 235, 220, 0.482);
}
.header-main-B{
    
    width: 50%;
    height: 60px;
    position: relative;
}
.header-main-B1A{
    
    height: 35px;
    width: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
}
#btn1{
    width: 124px;
    height: 34px;
    border-radius: 20px;
    font-size: 12px;
    font-family:  sans-serif;
    color: #ffffff;
    padding: 8px 16px;
    background-color:#d62300;
    border: none;
    outline: none;
    
}
#btn1:hover{
    background-color: #d6240096;
    color: white;

}
#btn2{
    width: 84.06px;
    height: 34px;
    border-radius: 20px;
    font-size: 12px;
    font-family:  sans-serif;
    color: #ffffff;
    padding: 8px 16px;
    background-color: #502314;
    position: relative;
    left: 15px;
    border: none;
    outline: none;
    
}
#btn2:hover{
    background-color:#d62300;
    color: white;

}
/*header-------2*/
.header-menu-1{
    background-color: #502314;
    height: 50px;
    width: 100%;
    z-index: 10;
    position: relative;
    position: fixed;
    
}
.header-menu-1-A{
    background-color: #502314;
    height: 50px;
    width: 70%;
    margin: auto;
    z-index: 100;
   
    
}
.header-menu-1-A-A{
    display: flex;
    justify-content: space-around;
}
.header-menu-1-A-A-1,.header-menu-1-A-A-2,.header-menu-1-A-A-4{
    height: 50px;
    width: 150px;
    z-index: 1000px;

    
}
.header-menu-1-A-A-1 a,.header-menu-1-A-A-2 a,.header-menu-1-A-A-4 a,.header-menu-1-A-A-5 a{
    position: relative;
    top: 10px;
    z-index: 1000px;
    color: rgb(245, 235, 220);
    font-size: 18px;
    text-decoration: none;
    font-family: flame, sans-serif;
}
.header-menu-1-A-A-3{
    width: 210px;
    height: 30px;
    position: relative;
    z-index: 1000px;
    right: 30px;
}
.header-menu-1-A-A-3 img{
    color: antiquewhite;
    
}
